# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# JetBrains
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# dbt
dbt_packages/
target/
logs/

# Snowpark temporary files
*.gz

# Large datasets
dataset/*.parquet
dataset/*.csv

# Optional
*.bak
*.tmp